.mega-menu {
  &:hover {
    .animated-arrow span {
      &:first-of-type {
        transform: rotate(-45deg);
      }

      &:last-of-type {
        transform: rotate(45deg);
      }
    }

    .dropdown_menu li {
      display: block;
    }

    .dropdown_menu-2 {
      @for $i from 1 through 10 {
        .dropdown_item-#{$i} {
          transform-origin: top center;
          animation-name: rotateX;
          animation-duration: 200ms;
          animation-delay: $i * 30ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
        }
      }
      @keyframes rotateX {
        0% {
          opacity: 0;
          transform: rotateX(-90deg);
        }
        50% {
          transform: rotateX(-20deg);
        }
        100% {
          opacity: 1;
          transform: rotateX(0deg);
        }
      }
    }
  }
}

.animated-arrow {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  margin: 0 1rem;

  span {
    top: 0.9rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: black;
    display: inline-block;
    transition: all 0.2s ease;

    &:first-of-type {
      left: 0;
      transform: rotate(45deg);
    }

    &:last-of-type {
      right: 0;
      transform: rotate(-45deg);
    }
  }
}
