.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background-color: rgba($true-v, 0.3);
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: $true-v;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: $true-v;
    cursor: pointer;
  }
}
